<div id="devise_registrations_edit">
  <div class='container'>
    <div class="edit-user-form">
      <h2>My account</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), remote: true, html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <div class='avatar_config'>
            <% if current_user.avatar.attached? %>
              <%= cl_image_tag(current_user.avatar.key, width: 250, height: 250, gravity: "face", crop: "thumb", zoom: 0.8, class: "avatar") %>
              <%#= image_tag current_user.avatar, class: "avatar" %>
              <%= link_to avatar_path, id: 'delete_avatar', method: :delete, remote: true, title: "Delete avatar" do %>
                <i class="fas fa-backspace delete_avatar"></i>
              <% end %>
            <% else %>
              <%= image_tag "avatar_default.svg", class: "avatar" %>
            <% end %>
            <div class="field">
              <%= f.file_field :avatar %><br>
              <small>.png, .jpg or .jpeg file under 4MB</small>
            </div>
          </div>
          <%= f.input :nickname, required: true, autofocus: true %>
          <%= f.input :email, required: true, autofocus: true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <%= f.input :password,
                      hint: "leave it blank if you don't want to change it",
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :current_password,
                      hint: "we need your current password to confirm your changes",
                      required: true,
                      input_html: { autocomplete: "current-password" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Update" %>
        </div>
      <% end %>
      <% if @social_networks != nil %>
      <div class='social_networks'>
        <%= simple_form_for @social_networks, url: social_network_path(current_user), remote: true do |sn| %>
          <%= sn.input :url_youtube, label: 'YouTube Channel' %>
          <%= sn.input :url_instagram, label: 'Instagram Profile' %>
          <%= sn.input :url_facebook, label: 'Facebook Page' %>
          <%= sn.input :url_website, label: 'Web site' %>
          <%= sn.button :submit, 'Save my social networks' %>
        <% end %>
      </div>
      <% end %>
      <p class='delete_btn'><%= link_to "Delete account", registration_path(resource_name), id: 'delete_account',  method: :delete %></p>
    </div>    
  </div>
</div>