<div class='container'>
    <div id='recipe_show' data-controller='add-ingredient add-to-my-cookbook'>
        <div class='top-button'>
            <%= render "shared/btn_back" %>
            <%= render "recipe_groups/set_recipe_group" %>
            <%= render "recipes/btn_delete_recipe" %>
            <%= render "recipes/add_to_my_cookbook" %>
        </div>

        <div class='main-content' data-add-to-my-cookbook-target="main_content">
            <div class='col-right'>
                <%= render "recipes/recipe_video" %>
                <%= render "ingredients/add_ingredient" %>
                <% content_for :title, params[:title] %>
                <h1><%= params[:title] %></h1>
                <div class="rate">
                    <%= render "recipe_rates/average_recipe_rate" %>
                    <%= render "recipe_rates/add_recipe_rate" %>
                </div>
                <%= render "recipes/recipe_note" %>
                <div class='reviews' data-controller="add-reviews">
                    <%= render "reviews/add_reviews" %>
                    <%= render "reviews/index_reviews" %>
                </div>
            </div>
            <div class='col-left'>
                <%= render "ingredients/ingredients_list" %>
            </div>
        </div>
    </div>
</div>