<div class='users_cards'>
  <% @users.each_with_index do |u, i| %>
    <%= link_to user_path(u) do %>
      <div class='user card'>
        <% if u.avatar.attached? %>
          <%= image_tag u.avatar, class: "avatar" %>
        <% else %>
          <%= image_tag "avatar_default.svg", class: "avatar" %>
        <% end %>
        <br>
        <b><%= u.nickname %></b>
        <%= @users_recipes[i]%> Recipes      
      </div>
    <% end %>
  <% end %>
</div>