<div class='container'>
    <div id="users_cookbook">
        <div class='title_line'>
            <h1><%= @user.nickname %>'s cookbook</h1>
            <%= render "social_networks/social_networks_icons"%>
        </div>
        <%= render "shared/counters" %>
        <div class='menu_top'>
            <%= render "followers/follow" %>
            <div class='recipe_group'>
                <div class='selected'>
                    <%= render "recipe_groups/select_user_recipe_group" %>
                </div>
            </div>
        </div>
        <hr>
        <div class='my_recipes'>
            <%= render "recipes/recipe_card_users_cookbook" %>
        </div>
        <div class="pages">
            <%= paginate @recipes %>
        </div>
    </div>
</div>