<div class='container'>
  <div id='recipe_show'>
    <div class='top-button'>
        <%= render "shared/btn_back" %>
        <%= render "recipes/get_this_recipe" %>
    </div>

    <div class='main-content'>
        <div class='col-right'>
          <%= render "recipes/recipe_video" %>
          <h1><%= params[:title] %></h1>
          <div class='preparation_cooking_time'>
            <div class='preparation_time'>
              Preparation time : <%= Time.at(@recipe.preparation_time).utc.strftime("%Hh%M") %>
            </div>
            <div class='cooking_time'>
              Cooking time : <%= Time.at(@recipe.cooking_time).utc.strftime("%Hh%M") %>
            </div>
          </div>
          <% if @recipe.note_private == false && @recipe.note.present? %>
            <div class='user_recipe_note'>
              <%= @recipe.note %>
            </div>
          <% end %>
          <div class="rate">
            <%= render "recipe_rates/average_recipe_rate" %>
            <%= render "recipe_rates/add_recipe_rate" %>
          </div>
          <div class='reviews'>
            <%= render "reviews/add_reviews" %>
            <%= render "reviews/index_reviews" %>
          </div>
        </div>
        <div class='col-left'>
        <%= render "ingredients/user_ingredients_list" %>
        </div>
    </div>
  </div>
</div>