<div class="reset-pwd">
  <h2>Forgot your password?</h2>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-paper-plane"></i></span>
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    label: false,
                    placeholder: "Your email account",
                    input_html: { autocomplete: "email" } %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Send me reset password instructions" %>
    </div>
  <% end %>
  <div class='text-center small'>
      Return to <%= link_to "Log in", new_session_path(resource_name) %>
  </div>
</div>