<div class='add_reviews'>
    <div data-flash-target='add_reviews'></div>
    <% if current_user %>
        <%= form_for @add_reviews, url: reviews_path, method: :post, remote: true do |r| %>
            <%= r.text_area :comment, :value => @add_reviews.comment, class: 'form-control', placeholder: 'add a comment...' %>
            <%= r.hidden_field :url, value: request.original_url, hidden: true %>
            <%= r.submit "Add reviews", class: 'btn btn-outline-primary btn-review', :data => { :action => "click->flash#addReviews" } %>
        <% end %>
    <% else %>
        <%= link_to "Log in to add a review", user_session_path, class: 'btn btn-primary' %>
    <% end %>
</div>