<!DOCTYPE html>
<html>
  <head>
    <title><%= raw "#{yield(:title)} - " if yield(:title).presence %>Bintja</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%# render 'adsense/headers_ad_client' %>
    <%= render 'facebook/pixel' %>
    <%= render 'google/analytics' %>
  </head>

  <%# --- Body class + Navbar --- %>
    <% if mobile? %>
      <% if (current_page?(new_user_session_path) || current_page?(new_user_password_path) || current_page?(new_user_registration_path) || current_page?(new_user_confirmation_path)) %>
        <body data-controller="flash" class='body-mobile'>
      <% else %>
        <body data-controller="flash" style="display:block;">
        <%= render 'shared/navbar_mobile' %>
      <% end %>
    <% else %>
      <body data-controller="flash">
      <%= render 'shared/navbar' %>
    <% end %>
  <%# --- Body class + Navbar --- %>

    <%= render 'shared/flashes' %>
      <%# unless current_page?(root_path) %>
        <%# render 'adsense/horizontal_responsive' %>
      <%# end %>
      <%= yield %>
      
  </body>
  <% unless mobile? %>
    <%= render 'shared/footer' %>
    <%= render 'shared/cookie_eu_banner' %>
  <% end %>
</html>
